.grid{
  background-image: url('../../../assets/image1.jpg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 99.3vmax;
}


@media screen and ( min-width: 1400px) {
  .grid{ background-position: top;}

}
